@import "keep-react/css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2e4ca;
  font-family: "Roboto Flex", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bangers", system-ui;
}

.main_header {
  letter-spacing: 2.8px;
}

.spacing {
  letter-spacing: 1.5px;
}

.bangers {
  font-family: "Bangers", system-ui;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  --sb-track-color: #f4e9d4;
  --sb-thumb-color: #35170c;
  --sb-size: 7px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 8px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
